# Firebase Web Client Configuration
VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_PROJECT_ID=tu-proyecto-id
VITE_FIREBASE_APP_ID=1:123456789:web:abcdef
VITE_FIREBASE_AUTH_DOMAIN=tu-proyecto-id.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=tu-proyecto-id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=123456789012

# Correo del Administrador / Organizador con permisos totales
# Al iniciar sesión con este correo de Google tendrás acceso exclusivo a /admin
VITE_ADMIN_EMAIL=tu_correo@gmail.com
